---
uname: home
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}

        <title>RU COGS</title>
    </head>

    <body>
        {% include navbar.html %}

        <div class="container">
            <div id="headerWrapper">
                <div class="header">
                    <h1>Creation of Games Society</h1>
                    <p class="lead">Meeting 7-9 PM every Tuesday @ The Cave (Hill 252)</p>
                    <p><b>First Meeting for Spring 2018 on January 23!</b></p>
                </div>
            </div>
        </div>

        <div id="hookCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#hookCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#hookCarousel" data-slide-to="1"></li>
                <li data-target="#hookCarousel" data-slide-to="2"></li>
                <li data-target="#hookCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="first-slide" src="/images/car1.jpg" alt="Game Jam">
                </div>
                <div class="item">
                    <img class="first-slide" src="/images/car2.jpg" alt="Pizza">
                </div>
                <div class="item">
                    <img class="first-slide" src="/images/car3.jpg" alt="RPG Maker">
                </div>
                <div class="item">
                    <img class="first-slide" src="/images/car4.jpg" alt="Writing">
                </div>
            </div>
            <a class="left carousel-control" href="#hookCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#hookCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2>About Us</h2>
                    <p>The Rutgers University Creation of Games Society is dedicated to researching, learning, understanding, and teaching the techniques and theories used in video game development in an environment which provides for its members a place expand their knowledge of the concepts and in which they may develop and design video games and theories in the field.</p>
                </div>

                <span class="horizontal-divider horizontal-divider-3-1"></span>

                <div class="col-lg-4">
                    <h2>Join Us</h2>
                    <a id="joinButton" href="http://club.us14.list-manage.com/subscribe?u=9b4ce0e57f5dae5a847224166&id=3249c7db81" class="btn btn-primary">Join the mailing list!</a>
                    <p>We meet Tuesday night from 7-9PM in The Cave (HLL-252). There are no perquisites to join and we welcome new members throughout the semester, so feel free to show up to any meeting. We encourage all members to join the <a href="http://eepurl.com/cgDAk5">mailing list</a> and <a href="https://rucogs.slack.com/signup/">Slack</a> to keep up to date with club news and communicate with your groups. When signing up for Slack, please use your Rutgers email address.</p>
                </div>

                <span class="horizontal-divider horizontal-divider-3-2"></span>

                <div class="col-lg-4">
                    <h2>Events</h2>
                    <p>In addition to weekly club meetings, COGS will be hosting game nights and social events throughout the year. Please join the mailing list to keep informed of upcoming COGS events.</p>
                </div>
            </div>
        </div>

        {% include footer.html %}

    </body>
</html>
