---
uname: members
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}

        <title>RU COGS | Members</title>
    </head>

    <body>
        {% include navbar.html %}

        <div class="container">
            <div id="headerWrapper">
                <div class="header">
                    <h1>The Grand Console</h1>
                    <p class="lead">Meet the executive members of COGS</p>
                </div>
            </div>
        </div>

        <div class="container">
            <p>Check back later for the 2018-19 eboard!</p>
        </div>

        {% include footer.html %}
    </body>
</html>
