---
uname: members
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}

        <title>RU COGS | Members</title>
    </head>

    <body>
        {% include navbar.html %}

        <div class="container">
            <div id="headerWrapper">
                <div class="header">
                    <h1>The Grand Console</h1>
                    <p class="lead">Meet the executive members of COGS</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div id="members" class="row">
                <div class="col-lg-4">
                    <a href="#">
                        <img class="img-circle" src="/images/members/aditya.jpg">
                    </a>
                    <h2>Aditya Geria</h2>
                    <h3>President</h3>
                </div>
                <div class="col-lg-4">
                    <a href="#">
                        <img class="img-circle" src="/images/members/ericr.jpg">
                    </a>
                    <h2>Eric Roberts</h2>
                    <h3>Web Master</h3>
                </div>
                <div class="col-lg-4">
                    <a href="#">
                        <img class="img-circle" src="images/members/alex.jpg">
                    </a>
                    <h2>Alex Jia</h2>
                    <h3>Treasurer</h3>
                </div>
            </div>
            <div id="members" class="row">
                <div class="col-lg-6">
                    <div class="text-center">
                        <a href="#">
                            <img class="img-circle" src="images/members/austin.jpg">
                        </a>
                        <h2>Austin Tsai</h2>
                        <h3>Director of Communications</h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-center">
                        <a href="#">
                            <img class="img-circle" src="/images/placeholder.png">
                        </a>
                        <h2>William He</h2>
                    </div>
                </div>
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>
