---
uname: pictures
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}

        <title>RU COGS | Pictures</title>
    </head>

    <body>
        {% include navbar.html %}

        <div class="container">
            <div id="headerWrapper">
                <div class="header">
                    <h1>Photo Gallery</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="photo-gallery">
                <a href="https://s3.amazonaws.com/rucogs-assets/gallery/original001.jpg"><img src="https://s3.amazonaws.com/rucogs-assets/gallery/small001.png"/></a>
                <a href="https://s3.amazonaws.com/rucogs-assets/gallery/original002.jpg"><img src="https://s3.amazonaws.com/rucogs-assets/gallery/small002.png"/></a>
                <a href="https://s3.amazonaws.com/rucogs-assets/gallery/original003.jpg"><img src="https://s3.amazonaws.com/rucogs-assets/gallery/small003.png"/></a>
                <a href="https://s3.amazonaws.com/rucogs-assets/gallery/original004.jpg"><img src="https://s3.amazonaws.com/rucogs-assets/gallery/small004.png"/></a>
                <a href="https://s3.amazonaws.com/rucogs-assets/gallery/original005.jpg"><img src="https://s3.amazonaws.com/rucogs-assets/gallery/small005.png"/></a>
                <a href="https://s3.amazonaws.com/rucogs-assets/gallery/original006.jpg"><img src="https://s3.amazonaws.com/rucogs-assets/gallery/small006.png"/></a>
                <a href="https://s3.amazonaws.com/rucogs-assets/gallery/original007.jpg"><img src="https://s3.amazonaws.com/rucogs-assets/gallery/small007.png"/></a>
                <a href="https://s3.amazonaws.com/rucogs-assets/gallery/original008.jpg"><img src="https://s3.amazonaws.com/rucogs-assets/gallery/small008.png"/></a>
                <a href="https://s3.amazonaws.com/rucogs-assets/gallery/original009.jpg"><img src="https://s3.amazonaws.com/rucogs-assets/gallery/small009.png"/></a>
                <a href="https://s3.amazonaws.com/rucogs-assets/gallery/original010.jpg"><img src="https://s3.amazonaws.com/rucogs-assets/gallery/small010.png"/></a>
                <a href="https://s3.amazonaws.com/rucogs-assets/gallery/original011.jpg"><img src="https://s3.amazonaws.com/rucogs-assets/gallery/small011.png"/></a>
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>
