---
uname: projects
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}

        <title>RU COGS</title>
    </head>

    <body>
        {% include navbar.html %}

        <div class="container">
            <div id="headerWrapper">
                <div class="header">
                    <h1>Projects</h1>
                </div>
            </div>
        </div>

        <div id="projects" class="container">
            <div class="row">
                <div class="col-md-7">
                    <h2>Death Machine</h2>
                    <time>In Development</time>
                    <p>A video game is an electronic game that involves interaction with a user interface to generate visual feedback on a video device such as a TV screen or computer monitor. The word video in video game traditionally referred to a raster display device,</p>
                </div>
                <div class="col-md-5">
                    <img src="https://placehold.it/400x200">
                </div>
            </div>

            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <h2>Time Machine</h2>
                    <time>January 1, 2020</time>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis convallis felis at condimentum. Aliquam erat volutpat. Proin nisl velit, feugiat ut feugiat in, iaculis ut lacus.</p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <img src="https://placehold.it/400x200"></img>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <h2>This Website</h2>
                    <time>September 1, 2017</time>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis convallis felis at condimentum. Aliquam erat volutpat. Proin nisl velit, feugiat ut feugiat in, iaculis ut lacus.</p>
                </div>
                <div class="col-md-5">
                    <img src="https://placehold.it/400x200"></img>
                </div>
            </div>
        </div>

        {% include footer.html %}

    </body>
</html>
