---
uname: projects
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}

        <title>RU COGS</title>
    </head>

    <body>
        {% include navbar.html %}

        <div class="container">
            <div id="headerWrapper">
                <div class="header">
                    <h1>Projects</h1>
                </div>
            </div>
        </div>

        <div id="projects" class="container">
            <div class="row">
                <div class="col-md-7">
                    <h2>Fighting Game</h2>
                    <time>In Development</time>
                    <p>A 2D platformer featuring a number of elemental mages, each with their own special abilities and attacks.</p>
                    <p>Made with GameMaker Studio.</p>
                    <p>MADE BY: William He, Brandon, Tamir</p>
                </div>
                <div class="col-md-5">
                    <img src="/images/fightinggame.png">
                </div>
            </div>

            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <h2>Capture the Flag</h2>
                    <time>January 2017</time>
                    <p>Single player first person tanks, where the player fights the AI to steal their flags. Enemies respawn until their flags are captured.</p>
                    <p>Made with Unity.<p>
                    <p>MADE BY: William He, Amr, Andrew</p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <img src="/images/capturetheflag.png"></img>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <h2>Space Shooter</h2>
                    <time>May 2017</time>
                    <p>FPS set in outer space. Destroy aliens with bullets affected by the gravitation of moving planets inside a small solar system.</p>
                    <p>Made with Unity.</p>
                    <p>MADE BY: William He</p>
                </div>
                <div class="col-md-5">
                    <img src="/images/spaceshooter.png"></img>
                </div>
            </div>
        </div>

        {% include footer.html %}

    </body>
</html>
