<div class="container">
    <footer class="row footer">
        <div class="col-xs-12 text-center">
            <p>This site was made by members of the Creation of Games Society.
            <a href="https://github.com/RUCOGS/rucogs.github.io/">Fork on Github.</a></p>
        </div>
    </footer>
</div>

<div id="bgGame">
    <canvas></canvas>
</div>

<!-- Start Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/background.js"></script>
    <script src="/js/global.js"></script>
<!-- End Scripts -->
